@import "global/variables.scss";

.button {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-text-secondary;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-bg-primary;
  border: 2px solid $color-border-secondary;
  cursor: pointer;

  &--primary {
    &:hover {
      color: $color-text-inverse;
      background-color: $color-bg-button-hover;
    }

    &:active {
      color: rgba($color-text-inverse, 0.3);
      background-color: $color-bg-button-hover;
    }

    &:focus-visible {
      color: $color-intense;
      background-color: none;
      border: 2px solid $color-intense;
      outline: none;
    }
  }

  &--secondary {
    color: $color-text-inverse;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-brand;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-brand, 0.6);
    }

    &:active {
      background-color: rgba($color-brand, 0.3);
    }

    &:focus-visible {
      color: $color-intense;
      background-color: rgba($color-brand, 0.2);
      outline: 2px solid $color-intense;
      outline-offset: -2px;
    }
  }
}
