@import "global/variables.scss";


// .catalog {
//   @media (min-width: $width-tablet) {

//   }

//   @media (min-width: $width-desktop) {

//   }
// }


.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }
}


.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    margin: 0;

    background-image: url("../../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-position: 0 101%;
    // z-index: 5;
  }

  @media (min-width: $width-desktop) {
    justify-content: center;

    background-image: url("../../img/zigzag-fill-desktop.svg");
  }
}


.catalog__item {
  display: block;
  min-width: 320px;
  min-height: 103px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;

  @media (min-width: $width-tablet) {
    min-width: 334px;
    min-height: 127px;
    // декоративная волна видна только если элементу поставить z-index -1,
    // но тогда перестает нажиматься ссылка в этом элементе
    // z-index: -1;
  }

  @media (min-width: $width-desktop) {
    min-width: 525px;
    min-height: 136px;
  }

  &--interior {
    color: $color-text-inverse;
    background-color: $color-brand;
    background-image: url("../../img/icons/interior.svg");
    background-position: 88% 50%;

    &:hover {
      min-height: 108px;
    }

    @media (min-width: $width-tablet) {
      &:hover {
        min-height: 132px;
      }
    }

    @media (min-width: $width-desktop) {
      background-position: 88% 40%;

      &:hover {
        min-height: 141px;
      }
    }
  }

  &--toys {
    background-color: $color-intense;
    background-image: url("../../img/icons/toy.svg");
    background-position: 90% 50%;

    &:hover {
      min-height: 108px;
    }

    @media (min-width: $width-tablet) {
      &:hover {
        min-height: 132px;
      }
    }

    @media (min-width: $width-desktop) {
      background-position: 88% 40%;

      &:hover {
        min-height: 141px;
      }
    }
  }
}


.catalog__link {
  display: block;
  padding: 24px 160px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;

  &--interior {
    color: $color-text-inverse;

    @media (min-width: $width-tablet) {
      padding: 25px 167px 34px 36px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $width-desktop) {
      max-width: 140px;
      padding-right: 350px;
    }
  }

  &--toys {
    color: $color-text-inverse;

    @media (min-width: $width-tablet) {
      padding: 25px 167px 34px 36px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $width-desktop) {
      max-width: 140px;
      padding-right: 350px;
    }
  }
}
