@import "global/variables.scss";


.contacts {
  background-image: url("../../img/svg/zigzag-line-mobile.svg");
  background-repeat: repeat-x;

  @media (min-width: $width-tablet) {
    background-image: url("../../img/svg/zigzag-line-tablet.svg");
  }

  @media (min-width: $width-desktop) {
    background-image: url("../../img/svg/zigzag-line-desktop.svg");
    background-repeat: no-repeat;
    background-size: 1050px;
    background-position: top center;
  }
}


.contacts__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    width: $width-desktop;
    margin: 0 auto;
    box-sizing: border-box;
    grid-template-columns: 170px 350px 527px;
    grid-template-rows:
      79px
      92px
      235px
      52px;
    grid-template-areas:
      ". . map"
      ". contacts map"
      ". contacts map"
      ". button map";
    padding-top: 94px;
    padding-right: 75px;
    padding-bottom: 105px;
    padding-left: 75px;
  }
}


.contacts__container {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    grid-area: contacts;
    width: auto;
    padding: 0;
  }
}


.contacts__title {
  padding-top: 44px;
  padding-bottom: 28px;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 39px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    padding-top: 0;
    padding-bottom: 35px;
  }
}


.contacts__title::after {
  @media (min-width: $width-tablet) {
    content: "";
    display: flex;
    width: 47px;
    height: 81px;
    margin-top: -9px;
    margin-right: 3px;
    background-image: url("../../img/svg/flag.svg");
    background-repeat: no-repeat;
    background-size: auto;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    left: -35%;
    order: -1;
  }
}


.contacts__list,
.contacts__e-mail {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    font-size: 17px;
  }
}


.contacts__e-mail {
  padding-bottom: 2px;
  border-bottom: 1px solid $color-text-brand-underline;

  &:hover {
    color: $color-intense-secondary;
    border-color: $color-text-brand-underline-secondary;
  }

  &:active {
    border: none;
  }

  &:focus-visible {
    color: $color-intense;
    border: none;
    outline: none;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 3px;
  }
}


.contacts__list {
  padding-bottom: 62px;

  @media (min-width: $width-tablet) {
    display: flex;
    padding-bottom: 49px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
  }
}


.contacts__term,
.contacts__description,
.contacts__address {
  display: inline-block;
  margin: 0;
}


.contacts__term {
  word-wrap: break-word;
}


.contacts__item {
  display: grid;
  grid-template-columns: 76px 183px;


  @media (min-width: $width-tablet) {
    grid-template-columns: 78px 255px;
  }

  &--first {
    padding-bottom: 30px;
  }
}


.contacts__address {
  font-style: normal;

  @media (min-width: $width-tablet) {
    max-width: 257px;
  }
}


.contacts__button {
  display: block;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 39px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  order: 2;

  @media (min-width: $width-tablet) {
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 460px;
    min-width: 230px;
    margin-top: 48px;
    margin-bottom: 56px;
    font-size: 17px;
  }

  @media (min-width: $width-desktop) {
    grid-area: button;
    margin: 0;
    margin-left: 15px;
    padding: 14px 27px;
  }
}


.contacts__iframe {
  width: 100%;
  height: 454px;
  padding-bottom: 34px;
  border: none;

  @media (min-width: $width-tablet) {
    width: 100%;
    height: 457px;
    padding-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    width: 527px;
    height: 457px;
  }
}


.contacts__map-container {
  @media (min-width: $width-tablet) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    grid-area: map;
  }
}


.contacts__map-nojs-container {
  display: none;
}


// стили для nojs
.contacts__map-nojs {
  display: flex;
  justify-content: center;
}


.contacts__map-nojs .contacts__iframe {
  display: none;
}


.contacts__map-nojs .contacts__map-nojs-container {
  display: block;
  padding-bottom: 42px;

  @media (min-width: $width-tablet) {
    width: 768px;
    height: 457px;
    padding-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    grid-area: map;
    width: 527px;
    height: 457px;
  }
}


.contacts__map-nojs-image {
  display: block;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $width-desktop) {
    width: 527px;
    height: 457px;
  }
}
