@import "global/variables.scss";


.copyright__text {
  display: block;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-footer;
}


.copyright__link {
  display: flex;
  margin-left: 24px;
  background-color: $color-bg-footer;

  @media (min-width: $width-tablet) {
    margin-left: 20px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 22px;
  }
}


.copyright__icon {
  fill: $color-brand;

  &:hover {
    fill: $color-intense-secondary;
  }

  &:active {
    fill: $color-intense-secondary;
    opacity: 0.3;
  }
}
