@import "global/variables.scss";

.link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-primary;
  // это свойство больше мешает, чем помогает
  // background-color: $color-bg-primary;
  text-decoration: none;
  cursor: pointer;
}
