@import "global/variables.scss";


.main-header__logo[href] .logo__header {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.logo__header {
  &--mobile {
    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $width-tablet) {
      display: block;
    }

    @media (min-width: $width-desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $width-desktop) {
      display: block;
    }
  }
}
