@import "global/variables.scss";

.logo__image {
  @media (min-width: $width-tablet) {
    width: 114px;
    height: 46px;
  }

  @media (min-width: $width-desktop) {
    width: 149px;
    height: 72px;
  }
}
