@import "global/variables.scss";

.main-footer {
  margin-right: -30px;
  margin-left: -30px;
  background-color: $color-bg-footer;

  @media (min-width: $width-tablet) {
    margin-right: -50px;
    margin-left: -50px;
  }

  @media (min-width: $width-desktop) {
    margin-right: -75px;
    margin-left: -75px;
  }
}

.main-footer__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-around;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 23px;
}
