@import "global/variables.scss";


.main-navigation__toogle {
  position: absolute;
  top: 29px;
  right: 30px;
  display: block;
  width: 21px;
  height: 20px;
  padding: 0;
  background-color: $color-bg-primary;
  cursor: pointer;
  border: none;

  &:focus-visible {
    border: none;
    outline: none;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}


.main-navigation__wrapper {
  background-color: $color-bg-primary;
  margin: 0 auto;
  z-index: 10;
}


.main-navigation__wrapper-layout {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows:
      min-content
      min-content;
    grid-template-areas:
      ". user"
      "site delivery";
    background-color: transparent;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 40% 20% 40%;
    grid-template-rows:
      min-content
      min-content;
    grid-template-areas:
      "site . user"
      "promo . delivery";
  }
}


.main-navigation--closed .main-navigation__toogle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $color-toogle-primary;
  box-shadow:
    0 6px 0 0 $color-toogle-primary,
    0 12px 0 0 $color-toogle-primary;
}


.main-navigation--closed .main-navigation__toogle:hover::before {
  background-color: rgba($color-toogle-primary, 0.6);
  box-shadow:
    0 6px 0 0 rgba($color-toogle-primary, 0.6),
    0 12px 0 0 rgba($color-toogle-primary, 0.6);
}


.main-navigation--closed .main-navigation__toogle:active::before {
  background-color: rgba($color-toogle-primary, 0.3);
  box-shadow:
    0 6px 0 0 rgba($color-toogle-primary, 0.3),
    0 12px 0 0 rgba($color-toogle-primary, 0.3);
}


.main-navigation--closed .main-navigation__toogle:focus-visible::before {
  background-color: $color-intense;
  box-shadow:
    0 6px 0 0 $color-intense,
    0 12px 0 0 $color-intense;
}


.main-navigation--opened .main-navigation__toogle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -3px;
    width: 28px;
    height: 2px;
    background-color: $color-toogle-primary;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}


.main-navigation--opened .main-navigation__toogle:hover::before,
.main-navigation--opened .main-navigation__toogle:hover::after {
  background-color: rgba($color-toogle-primary, 0.6);
}


.main-navigation--opened .main-navigation__toogle:active::before,
.main-navigation--opened .main-navigation__toogle:active::after {
  background-color: rgba($color-toogle-primary, 0.3);
}


.main-navigation--opened .main-navigation__toogle:focus-visible::before,
.main-navigation--opened .main-navigation__toogle:focus-visible::after {
  background-color: $color-intense;
}


@media (max-width: $width-mobile-only) {
  .main-navigation--opened {
    margin: 0 auto;
  }

  .main-navigation--closed .main-navigation__wrapper {
    display: none;
  }

  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 81px;
    left: 0;
    width: 100%;
  }

  // стили nojs
  .main-navigation--nojs .main-navigation__toogle {
    display: none;
  }

  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
  }
}


.main-navigation__list {
  @media (min-width: $width-tablet) {
    display: flex;
  }
}


.main-navigation__promo-delivery {
  display: none;

  @media (min-width: $width-tablet) {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    grid-area: delivery;
    // с отрицательным margin не проходит тест на переполнение
    margin-bottom: -74px;
    background-color: transparent;
  }
}
