@import "global/variables.scss";


.main-header {
  @media (min-width: $width-tablet) {
    position: relative;
    border-bottom: 2px solid $color-border-navigation;
    z-index: 3;
  }
}


.main-header__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    min-width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    min-width: $width-desktop;
    max-width: 1200px;
    padding-right: 75px;
    padding-left: 75px;
  }
}


.main-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 78px;
  border-top: 1px solid $color-border-navigation;
  border-bottom: 1px solid $color-border-navigation;

  @media (min-width: $width-tablet) {
    position: absolute;
    min-width: 35.5%;
    min-height: 88px;
    margin-right: 2px;
    border: none;
  }

  @media (min-width: $width-desktop) {
    left: 50%;
    transform: translateX(-50%);
    min-width: 10%;
  }
}


.main-header__logo {
  height: 35px;
  margin: auto;
  padding-right: 1px;

  @media (min-width: $width-tablet) {
    height: 46px;
    margin: auto 0;
    margin-right: 2px;
  }

  @media (min-width: $width-desktop) {
    height: 72px;
  }
}


.main-header__logo[href] .logo__header {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
