@import "global/variables.scss";

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.main-header__logo-wrapper {
  display: flex;
  min-width: 320px;
  min-height: 79px;
  border-top: 1px solid $color-border-navigation;
  border-bottom: 1px solid $color-border-navigation;
}

.main-header__logo {
  height: 35px;
  margin: auto;

  @media (min-width: $width-tablet) {
    height: 46px;
  }

  @media (min-width: $width-desktop) {
    height: 72px;
  }
}
