@import "global/variables.scss";

.main-footer {
  background-color: $color-bg-footer;

  @media (min-width: $width-tablet) {
    display: flex;
    align-content: center;
    min-height: 143px;
  }
}

.main-footer__wrapper {
  margin: auto;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width-tablet;
    box-sizing: border-box;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $width-desktop;
    box-sizing: border-box;
    padding-right: 75px;
    padding-left: 75px;
  }
}

.main-footer__logo-wrapper {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}

.main-footer__logo {
  display: block;
  height: 35px;
}


.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 22px;
}

.main-footer__decoration {
  margin-right: 30px;
  margin-left: 30px;
  border-top: 1px solid $color-border-footer;

  @media (min-width: $width-tablet) {
    margin-right: 0;
    margin-left: 0;
    border-top: none;
  }
}


.main-footer__logo[href] {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-brand;
  }
}
