@import "global/variables.scss";


.order-form__group {
  padding: 0;
  border: none;

  &--type {
    @media (min-width: $width-tablet) {
      padding-top: 49px;
    }

    @media (min-width: $width-desktop) {
      padding-top: 48px;
    }
  }

  &--color {
    @media (min-width: $width-tablet) {
      padding-top: 50px;
    }

    @media (min-width: $width-desktop) {
      padding-top: 48px;
    }
  }

  &--name-surname-patronymic {
    @media (min-width: $width-tablet) {
      padding-top: 50px;
      padding-bottom: 13px;
    }
  }

  &--phone {
    @media (min-width: $width-tablet) {
      padding-top: 48px;
    }
  }

  &--email {
    @media (min-width: $width-tablet) {
      padding-bottom: 26px;
    }
  }

  &--textarea {
    @media (min-width: $width-tablet) {
      padding-top: 50px;
    }
  }

  &--secondary-bg {
    @media (min-width: $width-tablet) {
      background-color: $color-bg-form-secondary;
    }
  }
}


.order-form__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  border: none;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 168px 250px 250px;
    grid-template-areas:
      "text text text"
      "legend form form";
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 176px 262px 264px 175px;
    grid-template-areas:
      ". text text text"
      "legend form form form";
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }

  &--text-required {
    @media (min-width: $width-tablet) {
      order: 2;
    }
  }
}


.order-form__text-content {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    grid-area: text;
    padding-top: 58px;
    padding-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    max-width: 702px;
    padding-top: 103px;
  }
}


.order-form__title {
  display: flex;
  min-width: 260px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-text-brand;
  background-color: transparent;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 1px;
    left: -1px;
    grid-area: legend;
    min-width: 167px;
    padding-top: 17px;
  }

  @media (min-width: $width-desktop) {
    min-width: 113px;
    padding-left: 35%;
  }

  &--type {
    padding-bottom: 30px;
  }

  &--color {
    padding-bottom: 25px;
  }

  &--name-surname-patronymic {
    padding-bottom: 29px;
  }

  &--phone {
    padding-bottom: 5px;
  }

  &--email {
    padding-bottom: 5px;
  }

  &--textarea {
    padding-bottom: 23px;

    @media (min-width: $width-tablet) {
      top: 3px;
      left: -2px;
    }
  }
}


.order-form__title::after {
  content: "";
  flex-grow: 1;
  margin-top: -7px;
  margin-bottom: 7px;
  margin-left: 20px;
  border-bottom: 1px solid $color-text-brand-underline;

  @media (min-width: $width-tablet) {
    display: none;
  }
}


.order-form__list {
  @media (min-width: $width-tablet) {
    grid-area: form;
  }

  &--type {
    padding-bottom: 20px;

    @media (min-width: $width-tablet) {
      padding-bottom: 26px;
    }
  }

  &--color {
    padding-bottom: 10px;

    @media (min-width: $width-tablet) {
      display: grid;
      grid-template-columns: 11fr 10fr;
      padding-bottom: 26px;
    }

    @media (min-width: $width-desktop) {
      display: grid;
      min-width: 750px;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 39px;
      padding-bottom: 26px;
    }
  }

  &--name-surname-patronymic {
    padding-bottom: 13px;
  }
}


.order-form__item {
  &--type {
    padding-bottom: 11px;

    @media (min-width: $width-tablet) {
      padding-bottom: 24px;
    }
  }

  &--color {
    padding-bottom: 23px;

    @media (min-width: $width-tablet) {
      padding-bottom: 24px;
    }

    @media (min-width: $width-desktop) {
      padding-bottom: 25px;
    }
  }
}


.order-form__name-wrapper,
.order-form__surname-wrapper,
.order-form__patronymic-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 24px;
  }
}


.order-form__name-field,
.order-form__surname-field,
.order-form__patronymic-field {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-primary;

  &:hover {
    color: $color-brand;
  }

  @media (min-width: $width-tablet) {
    font-size: 19px;
  }
}


.order-form__name-input,
.order-form__surname-input,
.order-form__patronymic-input {
  padding-top: 17px;
  padding-bottom: 14.5px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid $color-border-primary;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid $color-brand;
  }

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $width-tablet) {
    flex-grow: 1;
    padding-top: 15px;
    padding-bottom: 13px;
    font-size: 19px;
  }
}


.order-form__name-input {
  @media (min-width: $width-tablet) {
    margin-left: 24px;
    padding-left: 18px;
  }
}


.order-form__surname-input {
  @media (min-width: $width-tablet) {
    margin-left: 25px;
    padding-left: 16px;
  }
}


.order-form__patronymic-input {
  @media (min-width: $width-tablet) {
    margin-left: 27px;
    padding-left: 17px;
  }
}


.order-form__name-input::placeholder,
.order-form__surname-input::placeholder,
.order-form__patronymic-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba($color-text-primary, 0.3);

  @media (min-width: $width-tablet) {
    font-size: 19px;
  }
}


.order-form__phone-wrapper,
.order-form__email-wrapper {
  position: relative;
  grid-area: form;
  padding-bottom: 35px;

  @media (min-width: $width-tablet) {
    padding-bottom: 24px;
  }
}


.order-form__textarea-wrapper {
  display: flex;
  grid-area: form;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  @media (min-width: $width-tablet) {
    padding-bottom: 53px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 49px;
  }
}


.order-form__phone-input,
.order-form__email-input,
.order-form__textarea-input {
  min-width: 260px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid $color-border-primary;


  @media (min-width: $width-tablet) {
    min-width: 482px;
    padding-left: 16px;
    font-size: 19px;
    background-color: transparent;
  }

  @media (min-width: $width-desktop) {
    min-width: 700px;
  }
}


.order-form__phone-input {
  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid $color-brand;
  }

  &:focus-visible {
    outline: none;
  }
}


.order-form__email-input {
  padding-top: 17px;
  padding-bottom: 15px;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid $color-brand;
  }

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $width-tablet) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}


.order-form__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;

  &--phone {
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0.2;
    fill: $color-text-primary;

    @media (min-width: $width-tablet) {
      margin-top: 13px;
      margin-right: 26px;
    }

    @media (min-width: $width-desktop) {
      margin-top: 13px;
      margin-right: 9px;
    }
  }

  &--email {
    margin-top: 16px;
    margin-right: 7px;
    opacity: 0.2;
    fill: $color-text-primary;

    @media (min-width: $width-tablet) {
      margin-top: 16px;
      margin-right: 22px;
    }

    @media (min-width: $width-desktop) {
      margin-top: 16px;
      margin-right: 6px;
    }
  }
}


.order-form__phone-input:hover + .order-form__icon--phone,
.order-form__email-input:hover + .order-form__icon--email {
  fill: $color-brand;
  opacity: 1;
}


.order-form__phone-input:active + .order-form__icon--phone,
.order-form__email-input:active + .order-form__icon--email {
  fill: $color-brand;
  opacity: 0.6;
}


.order-form__textarea-input {
  min-height: 142px;
  box-sizing: border-box;
  resize: vertical;
  padding-top: 14px;
  padding-right: 17px;
  padding-left: 16px;
  border: 2px solid $color-border-primary;

  @media (min-width: $width-tablet) {
    min-width: 500px;
    padding-left: 14px;
  }

  @media (min-width: $width-desktop) {
    min-width: 700px;
    padding-top: 16px;
  }

  &:hover,
  &:focus {
    border: 2px solid $color-brand;
  }

  &:active {
    border: 2px solid rgba($color-brand, 0.6);
  }

  &:focus-visible {
    outline: none;
  }
}


.order-form__phone-input::placeholder,
.order-form__email-input::placeholder,
.order-form__textarea-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba($color-text-primary, 0.3);

  @media (min-width: $width-tablet) {
    font-size: 19px;
  }
}


.order-form__flex-container {
  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $width-tablet;
    margin: 0 auto;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    box-sizing: border-box;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop - 355px;
    margin: 0 auto;
    padding-right: 75px;
    padding-left: 75px;
  }
}


.order-form__flex-container .order-form__wrapper {
  @media (min-width: $width-tablet) {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    margin-right: -3px;
  }
}


.order-form__text-required {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-text-secondary;

  @media (min-width: $width-tablet) {
    padding-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}


.order-form__button {
  min-width: 260px;
  margin-bottom: 55px;

  @media (min-width: $width-tablet) {
    min-width: 230px;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    margin-left: -1px;
  }
}
