@import "global/variables.scss";

.production__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }
}

.production__article {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid $color-border-catalog-article;

  @media (min-width: $width-tablet) {
    padding-bottom: 46px;
    margin-bottom: 64px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "image title"
      "image text"
      "image button";
  }
}

.production__title {
  min-width: 260px;
  padding: 0 13px 27px 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../../img/icons/video-camera.svg");
  background-position: 34px 13px;

  @media (min-width: $width-tablet) {
    padding: 0 0 25px 91px;
    font-size: 20px;
    background-position: 40px 0;
  }

  @media (min-width: $width-desktop) {
    grid-area: title;
  }
}

.production__image {
  display: block;
  padding-bottom: 35px;

  @media (min-width: $width-tablet) {
    order: -1;
    min-width: 668px;
    min-height: 455px;
    padding-bottom: 41px;
  }

  @media (min-width: $width-desktop) {
    grid-area: image;
  }
}

.production__text-content {
  margin: 0;
  padding: 0;
  padding-bottom: 41px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    padding-right: 17px;
    padding-bottom: 41px;
    padding-left: 40px;
    font-size: 15px;
  }

  @media (min-width: $width-desktop) {
    grid-area: text;
  }
}

.production__order-button {
  max-width: 192px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $width-tablet) {
    min-width: 584px;
  }

  @media (min-width: $width-desktop) {
    grid-area: button;
    min-width: 230px;
    max-height: 52px;
    box-sizing: border-box;
  }
}
