@import "global/variables.scss";


.product-card__wrapper {
  margin-bottom: 30px;
  outline: 1px solid $color-border-catalog-article;
  outline-offset: -1px;

  &:hover {
    box-shadow: 0 6px 10px rgba($color-text-primary, 0.1);
  }

  &:active {
    box-shadow: 0 3px 6px rgba($color-text-primary, 0.1);
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 54px;
    min-height: 334px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "photo text";
  }

  @media (min-width: $width-desktop) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 57px;
  }
}


.product-card__link {
  &:focus-visible {
    outline: 2px solid $color-intense;
    outline-offset: -2px;
  }

  @media (min-width: $width-tablet) {
    grid-area: photo;
  }
}


.product-card__image {
  display: block;

  @media (min-width: $width-tablet) {
    min-width: 334px;
    min-height: 334px;
  }

  @media (min-width: $width-desktop) {
    min-width: 316px;
    min-height: 462px;
  }
}


.product-card__layout-wrapper {
  padding-top: 28px;
  padding-right: 27px;
  padding-bottom: 23px;
  padding-left: 28px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    grid-area: text;
    padding: 27px 32px 25px 34px;
  }

  @media (min-width: $width-desktop) {
    min-width: 316px;
    min-height: 197px;
    padding: 27px 32px 25px 28px;
  }
}


.product-card__title {
  padding-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-primary;

  &:hover {
    color: rgba($color-text-primary, 0.6);
  }

  &:active {
    color: rgba($color-text-primary, 0.3);
  }

  &:focus-visible {
    color: $color-intense;
    border: none;
    outline: none;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 7px;
    padding-left: 0;
    font-size: 20px;
  }
}


.product-card__text-description {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  &--product2 {
    @media (min-width: $width-tablet) {
      padding-top: 3px;
    }

    @media (min-width: $width-desktop) {
      padding-top: 0;
    }
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 0;
    padding-left: 0;
    font-size: 15px;
  }
}


.product-card__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  border-top: 1px solid $color-border-catalog-article;

  @media (min-width: $width-tablet) {
    margin-top: auto;
  }
}


.product-card__price {
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: 17px;
  }
}


.product-card__button-link {
  display: inline-block;

  &:focus-visible {
    outline: 2px solid $color-intense;
  }
}


.product-card__button-icon {
  opacity: 0.2;

  &:hover {
    fill: $color-brand;
    opacity: 1;
  }

  &:active {
    fill: $color-brand;
    opacity: 0.3;
  }

  &:focus-visible {
    color: $color-intense;
    border: none;
    outline: none;
  }
}
