@import "global/variables.scss";


.production__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }
}


.production__article {
  &:hover {
    box-shadow: 0 6px 10px rgba($color-text-primary, 0.1);
  }

  &:active {
    box-shadow: 0 3px 6px rgba($color-text-primary, 0.1);
  }

  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  padding-top: 22px;
  padding-bottom: 33px;
  border: 1px solid $color-border-catalog-article;

  @media (min-width: $width-tablet) {
    padding-top: 0;
    padding-bottom: 46px;
    margin-bottom: 64px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "image title"
      "image text"
      "image button";
    column-gap: 51px;
    padding-bottom: 0;
    margin-bottom: 105px;
  }
}


.production__title {
  position: relative;
  min-width: 260px;
  padding: 0 13px 27px 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    padding: 41px 0 25px 107px;
    font-size: 20px;
  }

  @media (min-width: $width-desktop) {
    grid-area: title;
    max-width: 180px;
    padding-top: 96px;
    padding-left: 30px;
    padding-bottom: 28px;
  }
}


.production__icon {
  position: absolute;
  top: 17%;
  bottom: 0;
  left: 13%;

  @media (min-width: $width-tablet) {
    top: 43%;
    bottom: 0;
    left: 6.5%;
  }

  @media (min-width: $width-desktop) {
    top: 24%;
    bottom: 0;
    left: 11.5%;
  }
}


.production__video-wrapper {
  position: relative;
  margin: 0;

  @media (min-width: $width-tablet) {
    order: -1;
  }

  @media (min-width: $width-desktop) {
    grid-area: image;
  }
}


.production__video-container {
  display: none;
}


.production__play-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  &:hover {
    transition: 0.2s;
    width: 122px;
    height: 93px;
  }

  &:active {
    transition: 0.25s;
    width: 80px;
    height: 62px;
    opacity: 0.4;
  }
}


.production__image {
  display: block;

  @media (min-width: $width-tablet) {
    min-width: 668px;
    min-height: 455px;
  }

  @media (min-width: $width-desktop) {
    min-width: 682px;
    min-height: 455px;
  }
}


.production__text-content {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 41px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    padding-top: 0;
    padding-right: 17px;
    padding-bottom: 41px;
    padding-left: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    grid-area: text;
    padding-bottom: 25px;
    padding-left: 30px;
  }
}


.production__order-button {
  min-width: 192px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    min-width: 584px;
  }

  @media (min-width: $width-desktop) {
    grid-area: button;
    min-width: auto;
    max-width: 230px;
    max-height: 52px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
