@import "global/variables.scss";

.product-card__wrapper {
  margin-bottom: 30px;
  border: 1px solid $color-border-catalog-article;
}

.product-card__image {
  display: block;
  padding-bottom: 28px;
}

.product-card__title {
  padding-bottom: 6px;
  padding-left: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-primary;
}

.product-card__text-description {
  margin: 0;
  padding: 0;
  padding-bottom: 41px;
  padding-left: 28px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;
}

.product-card__price {
  display: inline-block;
  padding-bottom: 27px;
  padding-left: 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__button-link {
  display: inline-block;
}
