@import "global/variables.scss";

.promo {
  &--form {
    background-color: $color-bg-form-secondary;
  }
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }

  &--main {
    background-color: $color-bg-primary;
    background-image: url("../../img/backgrounds/bg-image-house-shelf-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $width-tablet) {
      background-image: url("../../img/backgrounds/bg-image-house-shelf-tablet.jpg");
    }

    @media (min-width: $width-desktop) {
      background-image: url("../../img/backgrounds/bg-image-house-shelf-desktop.jpg");
    }
  }
}
