@import "global/variables.scss";


.promo {
  position: relative;

  &--main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 490px;
    background-color: $color-bg-primary;
    background-image: url("../../img/backgrounds/bg-image-house-shelf-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/backgrounds/bg-image-house-shelf-mobile@2x.jpg");
    }

    @media (min-width: $width-tablet) {
      min-height: 746px;
      background-image: url("../../img/backgrounds/bg-image-house-shelf-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/backgrounds/bg-image-house-shelf-tablet@2x.jpg");
      }
    }

    @media (min-width: $width-desktop) {
      background-image: url("../../img/backgrounds/bg-image-house-shelf-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/backgrounds/bg-image-house-shelf-desktop@2x.jpg");
      }
    }
  }

  &--form,
  &--catalog {
    background-color: $color-bg-form-secondary;

    @media (min-width: $width-tablet) {
      background-image: url("../../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position: 0 101%;
      z-index: 5;
    }

    @media (min-width: $width-desktop) {
      background-image: url("../../img/zigzag-fill-desktop.svg");
    }
  }
}


.promo::after {
  margin-top: 10px;
  z-index: 10;

  @media (min-width: $width-tablet) {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background-image: url("../../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-position: 0 101%;
  }

  @media (min-width: $width-desktop) {
    height: 34px;
    background-image: url("../../img/zigzag-fill-desktop.svg");
  }
}


.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }
}
