@import "global/variables.scss";


.promo {
  position: relative;

  &--main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 488px;
    background-color: $color-bg-primary;
    background-image: url("../../img/backgrounds/bg-image-house-shelf-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% -19px;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/backgrounds/bg-image-house-shelf-mobile@2x.jpg");
    }

    @media (min-width: $width-tablet) {
      min-height: 758px;
      background-image: url("../../img/backgrounds/bg-image-house-shelf-tablet.jpg");
      background-size: cover;
      background-position: -6px -8px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/backgrounds/bg-image-house-shelf-tablet@2x.jpg");
      }
    }

    @media (min-width: $width-desktop) {
      min-height: 761px;
      background-image: url("../../img/backgrounds/bg-image-house-shelf-desktop.jpg");
      background-position: -6px -8px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/backgrounds/bg-image-house-shelf-desktop@2x.jpg");
      }
    }
  }

  &--form,
  &--catalog {
    background-color: $color-bg-form-secondary;

    @media (min-width: $width-tablet) {
      background-image: url("../../img/svg/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position: 0 101%;
      z-index: 2;
    }

    @media (min-width: $width-desktop) {
      background-image: url("../../img/svg/zigzag-fill-desktop.svg");
      background-position-x: 6px;
      background-size: 89%;
    }
  }
}


.promo::after {
  margin-top: 10px;
  z-index: 10;

  @media (min-width: $width-tablet) {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background-image: url("../../img/svg/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-position: 0 101%;
  }

  @media (min-width: $width-desktop) {
    height: 34px;
    background-image: url("../../img/svg/zigzag-fill-desktop.svg");
    background-position-x: 25px;
  }
}


.promo__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }
}


.promo__title {
  margin-right: 2px;

  @media (min-width: $width-desktop) {
    margin-right: auto;
  }
}

.promo__navigation-wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: 75px;
    padding-left: 75px;
  }
}


.promo__navigation-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  max-width: 1050px;
  min-height: 119px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    margin: 0;
  }
}


.promo__navigation-item {
  position: relative;
  display: block;
  min-width: 320px;
  min-height: 103px;
  max-height: 220px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;

  @media (min-width: $width-tablet) {
    min-width: 334px;
    min-height: 133px;
  }

  @media (min-width: $width-desktop) {
    min-width: 525px;
    min-height: 136px;
  }

  &--interior {
    color: $color-text-inverse;
    background-color: $color-brand;

    &:hover {
      min-height: 108px;
      background-color: $color-intense-tertiary;
      transition-duration: 0.5s;
    }

    @media (min-width: $width-tablet) {
      &:hover {
        min-height: 138px;
      }
    }

    @media (min-width: $width-desktop) {
      &:hover {
        min-height: 141px;
      }
    }
  }

  &--toys {
    background-color: $color-intense;

    &:hover {
      min-height: 108px;
      background-color: $color-intense-secondary;
      transition-duration: 0.5s;
    }

    @media (min-width: $width-tablet) {
      &:hover {
        min-height: 138px;
      }
    }

    @media (min-width: $width-desktop) {
      &:hover {
        min-height: 141px;
      }
    }
  }
}


.promo__navigation-link {
  display: block;
  width: 60%;
  padding: 24px 0 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;

  &--interior {
    color: $color-text-inverse;

    @media (min-width: $width-tablet) {
      padding: 25px 167px 34px 36px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $width-desktop) {
      max-width: 140px;
      padding-right: 350px;
    }
  }

  &--toys {
    color: $color-text-inverse;

    @media (min-width: $width-tablet) {
      padding: 25px 167px 34px 36px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $width-desktop) {
      max-width: 140px;
      padding-right: 350px;
    }
  }
}


.promo__navigation-item:hover .promo__navigation-link {
  transition-duration: 0.5s;
}


.promo__navigation-icon {
  position: absolute;
  top: 13px;
  right: 0;
  bottom: 10px;
  margin: auto 0;

  &--interior {
    margin-right: 36px;
    fill: $color-accent;
    opacity: 0.5;
    cursor: pointer;

    @media (min-width: $width-tablet) {
      top: 0;
    }

    @media (min-width: $width-desktop) {
      top: -3px;
    }
  }

  &--toy {
    margin-right: 27px;
    fill: $color-accent;
    opacity: 0.5;
    cursor: pointer;

    @media (min-width: $width-tablet) {
      margin-right: 33px;
    }

    @media (min-width: $width-desktop) {
      top: -3px;
      margin-right: 35px;
    }
  }
}


.promo__navigation-item:hover .promo__navigation-icon {
  opacity: 0.7;
  transition-duration: 0.3s;
}


.promo__navigation-item:active .promo__navigation-icon {
  opacity: 0.3;
}
