@import "global/variables.scss";


.radiobutton__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.radiobutton__custom + .radiobutton__field::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url("../../img/svg/radiobutton-empty.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;

  @media (min-width: $width-tablet) {
    width: 52px;
    height: 52px;
  }
}


.radiobutton__custom:not(:disabled) + .radiobutton__field:hover::before {
  background-image: url("../../img/svg/radiobutton-empty-hover.svg");
}


.radiobutton__custom:not(:disabled) + .radiobutton__field:active::before {
  background-image: url("../../img/svg/radiobutton-empty-active.svg");
}


.radiobutton__custom:focus + .radiobutton__field::before {
  outline: 2px solid $color-brand;
  outline-offset: -2px;
}


.radiobutton__custom:focus-visible + .radiobutton__field::before {
  outline: 3px solid $color-brand;
  outline-offset: -2px;
}


.radiobutton__custom:disabled + .radiobutton__field::before {
  background-color: darken($color-bg-secondary, 10%);
}


.radiobutton__custom + .radiobutton__field::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  display: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-image: url("../../img/svg/radiobutton-checked.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;

  @media (min-width: $width-tablet) {
    top: 15px;
    left: 14.5px;
    width: 23px;
    height: 23px;
  }
}


.radiobutton__custom:checked + .radiobutton__field::after {
  display: block;
}


.radiobutton__field {
  display: grid;
  align-items: center;
  position: relative;
  grid-template-columns: 42px 1fr;
  column-gap: 19px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-primary;
  user-select: none;

  @media (min-width: $width-tablet) {
    font-size: 19px;
    column-gap: 37px;
  }
}
