@import "global/variables.scss";


.reviews__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    min-height: 457px;
    margin-bottom: 68px;
    padding-right: 50px;
    padding-left: 50px;
    background-image: url("../../img/backgrounds/bg-lace-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/backgrounds/bg-lace-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    margin-bottom: 66px;
    padding-right: 75px;
    padding-left: 250px;
    background-position: 75px 0;
  }
}


.reviews__title {
  padding-top: 58px;
  padding-bottom: 14px;

  @media (min-width: $width-tablet) {
    padding-top: 83px;
    padding-bottom: 39px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 78px;
    padding-bottom: 35px;
  }
}


.reviews__author-review {
  margin: 0;
  padding: 0;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "review review"
      "author control";
  }
}


.reviews__text-content {
  margin: 0;
  padding-bottom: 32px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    grid-area: review;
    max-width: 668px;
    padding-bottom: 60px;
    font-size: 17px;
    background-color: transparent;
  }

  @media (min-width: $width-desktop) {
    max-width: 810px;
    padding-bottom: 43px;
  }
}


.reviews__author {
  @media (min-width: $width-tablet) {
    grid-area: author;
  }
}


.reviews__author-name {
  margin-bottom: 4px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    display: block;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    font-size: 17px;
  }
}


.reviews__author-nickname {
  display: block;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}


.reviews__control {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 38px;

  @media (min-width: $width-tablet) {
    grid-area: control;
    margin-top: 6px;
  }

  @media (min-width: $width-desktop) {
    margin-right: -2px;
  }
}


.reviews__control-button {
  display: block;
  padding: 11px 39px;
  background-color: $color-bg-primary;
  border: 1px solid $color-border-control-button;
  cursor: pointer;

  &:focus-visible {
    fill: $color-intense;
    border: none;
    outline: none;
  }

  @media (min-width: $width-tablet) {
    padding-right: 18px;
    padding-left: 18px;
    border: none;
  }

  @media (min-width: $width-desktop) {
    padding-left: 18px;
  }

  &--right {
    transform: rotate(180deg);

    @media (min-width: $width-tablet) {
      padding-right: 18px;
    }

    @media (min-width: $width-desktop) {
      padding-left: 22px;
    }
  }
}


.reviews__control-button-icon {
  display: block;

  &:hover {
    fill: rgba($color-text-primary, 0.6);
  }

  &:active {
    fill: rgba($color-text-primary, 0.3);
  }
}


.reviews__button {
  display: block;
  min-width: 260px;
  margin-bottom: 45px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 79px;
    right: 50px;
    min-width: 175px;
    padding: 14px 26px;
    font-size: 17px;
  }

  @media (min-width: $width-desktop) {
    top: 78px;
    right: 75px;
  }
}
