@import "global/variables.scss";

.reviews__title {
  padding-top: 58px;
  padding-bottom: 14px;
}

.reviews__author-review {
  margin: 0;
  padding: 0;
}

.reviews__text-content {
  margin: 0;
  padding-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;
}

.reviews__author-name {
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.reviews__author-nickname {
  display: block;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.reviews__control {
  display: flex;
  padding-bottom: 38px;
}

.reviews__control-button {
  display: block;
  padding: 12px 38px;
  background-color: $color-bg-primary;
  border: 1px solid $color-border-control-button;


  &--right {
    transform: rotate(180deg);
  }
}

.reviews__control-button-icon {
  display: block;
}

.reviews__button {
  display: block;
  min-width: 260px;
  margin-bottom: 45px;
  padding: 15px 65px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
