@import "global/variables.scss";

.reviews__wrapper {
  position: relative;

  @media (min-width: $width-tablet) {
    margin-bottom: 68px;
    margin-left: - 50px;
    background-image: url("../../img/backgrounds/bg-lace-tablet.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.reviews__title {
  padding-top: 58px;
  padding-bottom: 14px;

  @media (min-width: $width-tablet) {
    padding-top: 83px;
    padding-bottom: 39px;
    padding-left: 50px;
  }
}

.reviews__author-review {
  margin: 0;
  padding: 0;
}

.reviews__text-content {
  margin: 0;
  padding-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-secondary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    max-width: 668px;
    padding-bottom: 61px;
    padding-left: 50px;
    font-size: 17px;
    background-color: transparent;
  }
}

.reviews__author {
  @media (min-width: $width-tablet) {
    padding-left: 50px;
  }
}

.reviews__author-name {
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.reviews__author-nickname {
  display: block;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    padding-left: 50px;
  }
}

.reviews__control {
  display: flex;
  padding-bottom: 38px;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 325px;
    right: 0;
  }
}

.reviews__control-button {
  display: block;
  padding: 12px 38px;
  background-color: $color-bg-primary;
  border: 1px solid $color-border-control-button;

  @media (min-width: $width-tablet) {
    padding-right: 18px;
    border: none;
  }

  &--right {
    transform: rotate(180deg);

    @media (min-width: $width-tablet) {
      padding-right: 18px;
    }
  }
}

.reviews__control-button-icon {
  display: block;
}

.reviews__button {
  display: block;
  min-width: 260px;
  margin-bottom: 45px;
  padding: 15px 65px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 60px;
    right: 0;
  }
}
