@import "global/variables.scss";

.site-list {
  @media (min-width: $width-tablet) {
    grid-area: site;
  }
}

.site-list__item {
  min-width: 320px;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  border-top: 1px solid $color-border-navigation;
  border-bottom: 1px solid $color-border-navigation;

  @media (min-width: $width-tablet) {
    min-width: auto;
    padding: 0;
  }
}

.site-list__link {
  display: block;
  padding: 28px 0;
  padding-left: 46px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-primary;

  @media (min-width: $width-tablet) {
    padding: 0;
  }
}
