@import "global/variables.scss";

// .site-list__item {

// }

.site-list__link {
  display: block;
  padding: 28px 0;
  padding-left: 46px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-text-primary;

  border-bottom: 1px solid $color-border-navigation;
}
