@import "global/variables.scss";


.social__list {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 30px;
}


.social__item + .social__item {
  padding-left: 30px;
}


.social__link {
  display: flex;
  background-color: $color-bg-footer;

  &:hover {
    fill: $color-intense-secondary;
  }

  &:active {
    fill: $color-intense-secondary;
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-brand;
  }
}
