@import "global/variables.scss";

.title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $color-text-primary;

  @media (min-width: $width-tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $width-desktop) {
    font-size: 53px;
    line-height: 57px;
  }

  &--medium {
    font-size: 25px;

    @media (min-width: $width-tablet) {
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: $width-desktop) {
      font-size: 53px;
      line-height: 57px;
    }
  }

  &--main {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 120px;
    text-align: center;

    @media (min-width: $width-tablet) {
      max-width: 668px;
      padding-top: 155px;
      padding-bottom: 372px;
    }

    @media (min-width: $width-desktop) {
      max-width: 700px;
      padding-top: 157px;
      padding-bottom: 355px;
    }
  }

  &--main-form {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 74px;
    text-align: center;

    @media (min-width: $width-tablet) {
      max-width: 420px;
      padding-top: 101px;
      padding-bottom: 75px;
    }

    @media (min-width: $width-desktop) {
      max-width: 507px;
      padding-top: 102px;
      padding-bottom: 96px;
    }
  }
}
