@import "global/variables.scss";

.title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $color-text-primary;
  background-color: $color-bg-primary;
}
