// Color variables
$color-brand: #63d1bb;
$color-intense: #56c3b2;
$color-accent: #149080;

$color-text-primary: #000000;
$color-text-secondary: #444444;
$color-text-inverse: #ffffff;
$color-text-brand: #63d1bb;
$color-text-brand-underline: #62d1ba;

$color-bg-primary: #ffffff;
$color-bg-secondary: #f9f9f9;
$color-bg-header: #ffffff;
$color-bg-footer: #f1f1f1;
$color-bg-form-secondary: #f1f1f1;

$color-border-primary: #000000;
$color-border-secondary: #444444;
$color-border-control-button: #ececec;


// Viewport variables
$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1200px;

